StructuredStreaming/.idea
StructuredStreaming/project/*
StructuredStreaming/target/*
src/StructuredStreaming/consumers.ipynb
src/KafkaProducer/producer.ipynb
src/KafkaProducer/__*
src/StructuredStreaming/__*
utils/__*
src/StructuredStreaming/metastore_db
src/StructuredStreaming/*.log
src/StructuredStreaming/spark-warehouse/*
logs/*
checkpoint/*
metastore_db/*
spark-warehouse/*
derby.log
chekpoint/wikimedia_data_topic/*
